@import 'bootstrap/dist/css/bootstrap';

body {
    margin: 0 !important;
}

.navbar {
    background-color: #5f5f5f !important;
}

.nav-link {
    color: #fff !important;
}
 
.online-status {
    font-size: 20px;
    color: #ccc;
    &.online{
        color: green;
    }
}